<%- include("partials/head.ejs") %>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">APP NAME</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/add">Add Movies</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-5">
  <div class="row">

    <% if (!movies) {%>
    <h6>No data found!</h6>
    <%} else { %>
      <% for (movie of movies) { %>
      <div class="col-sm-6">
        <div class="card mb-3">
          <img src="<%= movie.posterUrl %>" class="card-img-top img-fluid h" alt="...">
          <div class="card-body">
            <h6><span class="badge bg-light text-dark"><%= movie.genre %></span></h6>
            <h5 class="card-title"><%= movie.title %></h5>
            <p class="card-text"><small class="text-muted">Ratings : <%= movie.ratings %></small></p>
          </div>
        </div>
      </div>
    <% } %>
    <% } %>
  </div>
</div>

<%- include("partials/footer.ejs") %>